# ============================================
# SITEC - Configuración de Producción
# ============================================

DEBUG=True
SECRET_KEY=
ALLOWED_HOSTS=127.0.0.1,localhost

# --- Variables LDAP ---
DJANGO_CTL_LDAP_SERVER_URI="ldap://insssep.gov.ar"
DJANGO_CTL_LDAP_BIND_DN="IUSR_GestionOnline@insssep.gov.ar"
DJANGO_CTL_LDAP_BIND_PASS=
# DJANGO_CTL_LDAP_SEARCH_BASE="OU=Sistemas,OU=CPI,DC=insssep,DC=gov,DC=ar"
DJANGO_CTL_LDAP_SEARCH_BASE="DC=insssep,DC=gov,DC=ar"
# Quiero hacer la busqueda de credenciales en el grupo especifico de TurneroInsssep, pero debe ser creado en el AD y no tengo permisos para eso, por lo que se hace la busqueda en todo el directorio.

# --- Base de Datos SQL Server ---
DB_NAME=Turnero
DB_HOST=web03
DB_DRIVER=SQL Server Native Client 11.0
SQL_USER=turnero_user
SQL_PASS=

# --- Base de Datos Aportes (Búsqueda de Personas) ---
APORTES_DB_HOST=sql01
# TODO: Crear usuario específico con permisos de solo EXEC en Will_Busca_Persona_Turnero
# APORTES_SQL_USER=Will_turnero
# APORTES_SQL_PASS=
