<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
          <rules>
            <rule name="Static Files" stopProcessing="true">
              <match url="^static/.*" />
              <action type="None" />
            </rule>
            <rule name="Media Files" stopProcessing="true">
              <match url="^media/.*" />
              <action type="None" />
            </rule>
          </rules>
        </rewrite>

        <handlers>
            <add name="Turnero" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
        </handlers>
        
        <httpPlatform 
            processPath="C:\Windows\System32\cmd.exe"
            arguments="/c &quot;C:\inetpub\Sites\Turnero\start_uvicorn.bat&quot; %HTTP_PLATFORM_PORT%"
            stdoutLogEnabled="true"
            stdoutLogFile="C:\inetpub\Sites\Turnero\logs\wrapper_stdout.log"
            startupTimeLimit="300">
        </httpPlatform>
    </system.webServer>

    <location path="static">
        <system.webServer>
            <handlers>
                <remove name="Turnero" />
            </handlers>
        </system.webServer>
    </location>

    <location path="media">
        <system.webServer>
            <handlers>
                <remove name="Turnero" />
            </handlers>
        </system.webServer>
    </location>
</configuration>